body {
  margin: 0; }

footer {
  background-color: #3859f9;
  padding: 15px 15px 10px 15px; }

.container-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between; }

.left-footer h4 {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0; }

.right-footer p, .left-footer p {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin: 0; }
.right-footer a.social, .left-footer a.social {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: right;
  margin: 10px; }
.right-footer a.social:hover, .left-footer a.social:hover {
  color: #38baf9; }

.right-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

hr.small-divide {
  width: 200px;
  margin-top: 40px; }

.main-headerz {
  text-align: center;
  background-repeat: no-repeat; }
  @media all and (min-width: 813px) {
    .main-headerz {
      background-size: 1000px auto; } }
  @media all and (max-width: 679px) {
    .main-headerz {
      background-size: 370px auto; } }
  @media all and (min-width: 680px) and (max-width: 812px) {
    .main-headerz {
      background-size: 800px auto; } }
  .main-headerz h1 {
    color: #3859f9;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0;
    text-align: center; }
  .main-headerz p {
    color: #555555;
    text-align: center; }

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0; }

.primary {
  color: #3859f9; }

.dark-neutral {
  color: #555555; }

.lite-content {
  color: #ffffff; }

.lite-with-shadow {
  color: #ffffff;
  text-shadow: 1px 2px 2px black; }

.non-background {
  background-color: #ffffff; }

.canary {
  background-color: #38baf9; }

.canary-link {
  color: #38baf9;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif; }

.parrot {
  background-color: #7838f9; }

#neutral-buttonz {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  margin-left: 5px; }

#neutral-buttonz:hover {
  color: #555555; }

#neutral-button {
  width: 150px;
  border-radius: 5px;
  padding: 10px 5px;
  border: solid 1px #1abc9c;
  background-color: #1abc9c;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all 5s ease-out;
  -webkit-box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.13); }

#neutral-button:hover {
  border: solid 1px #ecf0f1;
  background-color: #ecf0f1; }

h1 {
  margin: 0;
  font-size: 2.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300; }

@media all and (min-width: 681px) {
  .big-banner {
    padding-top: 75px;
    padding-bottom: 20px; } }
@media all and (max-width: 680px) {
  .big-banner {
    padding-top: 100px;
    padding-bottom: 30px; } }

.small-banner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.bigscreen {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }
  .bigscreen h1 {
    color: #ffffff;
    text-shadow: 1px 2px 2px black;
    text-align: center; }

@media all and (min-width: 681px) {
  .bigpadding {
    padding: 130px; } }
@media all and (max-width: 680px) {
  .bigpadding {
    padding: 100px 30px 50px 30px; } }

@media all and (min-width: 681px) {
  .mediumpadding {
    padding: 100px 100px 75px 100px; } }
@media all and (max-width: 680px) {
  .mediumpadding {
    padding: 100px 20px 40px 20px; } }

@media all and (min-width: 681px) {
  .mediumpadding_middle {
    padding: 65px 30px 75px 30px; } }
@media all and (max-width: 680px) {
  .mediumpadding_middle {
    padding: 50px 20px 40px 20px; } }

@media all and (min-width: 681px) {
  .smallpadding {
    padding: 5px 50px 50px 50px; } }
@media all and (max-width: 680px) {
  .smallpadding {
    padding: 0 30px 50px 30px; } }

.small-container-center {
  max-width: 500px;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  color: #555555;
  line-height: 1.4;
  font-weight: 300; }

h2.generic {
  font-family: 'Raleway', sans-serif;
  color: #555555;
  font-weight: 300;
  margin-bottom: 30px; }

.call-out p {
  color: #ffffff;
  text-shadow: 1px 2px 2px black; }
@media all and (max-width: 400px) {
  .call-out {
    padding: 30px; } }
@media all and (min-width: 401px) {
  .call-out {
    padding: 100px; } }

.generic-container {
  padding: 75px 20px 50px 20px; }
  .generic-container h2 {
    max-width: 800px; }
  .generic-container p {
    max-width: 800px;
    text-align: left; }
  .generic-container img {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-box-shadow: 1.5px 1.5px 3px 1.5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1.5px 1.5px 3px 1.5px rgba(0, 0, 0, 0.25);
    box-shadow: 1.5px 1.5px 3px 1.5px rgba(0, 0, 0, 0.25); }
    @media all and (min-width: 1025px) {
      .generic-container img {
        max-width: 1000px; } }
    @media all and (min-width: 700px) and (max-width: 1024px) {
      .generic-container img {
        max-width: 700px; } }
    @media all and (min-width: 500px) and (max-width: 699px) {
      .generic-container img {
        max-width: 475px; } }
    @media all and (max-width: 499px) {
      .generic-container img {
        max-width: 300px; } }

.main_nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 65px;
  background-color: #ffffff; }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white; }

/* Float the list items side by side */
ul.topnav li {
  float: right; }

/* Style the links inside the list items */
ul.topnav li a {
  display: inline-block;
  color: #555555;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif; }

/* Change background color of links on hover */
ul.topnav li a:hover, ul.topnav li a:focus {
  color: #3859f9; }

ul.topnav li a.active {
  color: #3859f9; }

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #38baf9;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
  display: none; }

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media all and (max-width: 680px) {
  ul.topnav li:not(:first-child) {
    display: none; }

  ul.topnav li.icon {
    float: right;
    display: inline-block; } }
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media all and (max-width: 680px) {
  ul.topnav.responsive {
    position: relative; }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }

  ul.topnav.responsive li {
    float: none;
    display: inline; }

  ul.topnav.responsive li a {
    display: block;
    text-align: left; } }
.left-nav {
  display: inline-block;
  float: left;
  padding: 20px 15px 15px 15px; }
  .left-nav h2 {
    font-family: 'Satisfy', cursive;
    color: #555555;
    margin: 0;
    font-size: 1.3rem; }
  .left-nav a {
    text-decoration: none;
    color: inherit; }

.image-steps {
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
  align-content: flex-start; }

.project-stage-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media all and (min-width: 681px) {
    .project-stage-container {
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 55px; } }
  @media all and (max-width: 680px) {
    .project-stage-container {
      flex-direction: column;
      padding: 20px; } }

.descriptor {
  max-width: 700px; }
  .descriptor h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0; }
  @media all and (min-width: 681px) {
    .descriptor {
      margin-right: 50px; } }
  @media all and (max-width: 680px) {
    .descriptor {
      margin-right: 5px; } }

@media all and (min-width: 1500px) {
  .visual img {
    margin-left: 150px; } }
@media all and (min-width: 1200px) {
  .visual img {
    max-height: 600px;
    max-width: 600px;
    float: right; } }
@media all and (min-width: 1000px) and (max-width: 1199px) {
  .visual img {
    max-height: auto;
    max-width: 400px;
    float: right; } }
@media all and (max-width: 999px) {
  .visual img {
    max-height: auto;
    max-width: 300px;
    float: none; } }

.image-step {
  align-self: flex-start;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .image-step img {
    max-width: 300px;
    height: auto; }
  .image-step h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400; }
  .image-step p {
    margin: 0;
    font-size: 14px;
    align-self: flex-end; }
  @media all and (min-width: 400px) {
    .image-step {
      margin: 20px 10px 20px 10px;
      max-width: 300px; } }
  @media all and (max-width: 399px) {
    .image-step {
      margin: 20px 0 20px 0;
      max-width: 250px;
      height: auto; } }

.gallery-container {
  max-width: 1200px;
  padding-top: 50px;
  padding-bottom: 75px; }
  .gallery-container h2 {
    font-family: 'Raleway', sans-serif;
    color: #555555;
    font-weight: 400;
    padding: 10px 20px 50px 0; }

.website-thumbs {
  max-width: 1000px;
  padding-top: 50px;
  padding-bottom: 50px; }
  .website-thumbs h2 {
    font-family: 'Raleway', sans-serif;
    color: #555555;
    font-weight: 400;
    padding: 20px; }

@media all and (min-width: 1200px) {
  iframe {
    width: 640px;
    height: 369px; } }
@media all and (min-width: 860px) and (max-width: 1199px) {
  iframe {
    width: 400px;
    height: 246px; } }
@media all and (max-width: 859px) {
  iframe {
    width: 290px;
    height: 183px; } }

.holder {
  padding: 50px 30px 50px 30px;
  margin: 0;
  background-color: #efefef; }

.card {
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 0.5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 1px 1px 0.5px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 1px 0.5px 2px rgba(0, 0, 0, 0.13); }

.card-size {
  max-width: 800px; }

.small-container-center {
  max-width: 500px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0; }

.responsive-image {
  max-width: 100%; }

.cell img {
  display: block;
  width: 100%;
  height: auto; }

.cell {
  margin: 5px;
  position: relative; }

.cell-border {
  -webkit-box-shadow: 1.5px 1.5px 3px 1.5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1.5px 1.5px 3px 1.5px rgba(0, 0, 0, 0.25);
  box-shadow: 1.5px 1.5px 3px 1.5px rgba(0, 0, 0, 0.25); }

.cell-pj {
  margin: 2px;
  position: relative; }

.cell:hover .overlay {
  height: 100%; }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(56, 89, 249, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease; }

.overlaytext {
  white-space: nowrap;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 400;
  padding: 20px; }
  .overlaytext p {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: 200;
    font-size: 16px; }

@media all and (min-width: 600px) {
  div.photo-gallery {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center; }

  .responsive-image {
    max-width: 100%; }

  .cell {
    width: calc(50% - 2rem);
    float: none; } }
@media all and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem); } }
.project-thumbz {
  background-color: #ffffff;
  border-radius: 3px;
  position: relative;
  -webkit-box-shadow: 0px 2px 0.5px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 2px 0.5px 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 2px 0.5px 1px rgba(0, 0, 0, 0.13); }
  .project-thumbz h3 {
    color: #555555;
    font-weight: 400; }
  .project-thumbz p {
    font-weight: 300;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px; }
  .project-thumbz img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }

.project-thumbnail_section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  align-content: space-between;
  justify-content: center;
  padding-bottom: 50px; }
  @media all and (min-width: 680px) {
    .project-thumbnail_section {
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }
  @media all and (max-width: 759px) and (min-width: 450px) {
    .project-thumbnail_section {
      flex-direction: column;
      align-items: center; }
      .project-thumbnail_section .project_thumb {
        max-width: 400px;
        margin: 20px 15px 20px 15px;
        padding-bottom: 20px; }
      .project-thumbnail_section img {
        max-width: 400px;
        height: auto;
        align-self: center; }
      .project-thumbnail_section .ps-button {
        left: 29%;
        padding-bottom: 15px; } }
  @media all and (max-width: 449px) {
    .project-thumbnail_section {
      flex-direction: column;
      align-items: center; }
      .project-thumbnail_section .project_thumb {
        max-width: 300px;
        margin: 20px 15px 20px 15px;
        padding-bottom: 20px; }
      .project-thumbnail_section img {
        max-width: 300px;
        height: auto;
        align-self: center; }
      .project-thumbnail_section .ps-button {
        left: 23%;
        padding-bottom: 15px; } }
  @media all and (min-width: 980px) {
    .project-thumbnail_section .project_thumb {
      max-width: 300px;
      margin: 20px 15px 20px 15px; }
      .project-thumbnail_section .project_thumb .ps-button {
        left: 23%; }
    .project-thumbnail_section img {
      max-width: 300px;
      height: 200px; } }
  @media all and (max-width: 979px) and (min-width: 759px) {
    .project-thumbnail_section .project_thumb {
      max-width: 220px;
      margin: 10px 25px 20px 25px; }
    .project-thumbnail_section .ps-button {
      left: 13%; }
    .project-thumbnail_section img {
      max-width: 220px;
      height: auto; } }
  .project-thumbnail_section .project_thumb {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column; }

.project_thumb h3 {
  font-family: 'Raleway', sans-serif;
  margin: 15px; }
.project_thumb p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 0; }

.ps-button {
  position: absolute;
  bottom: 15px; }

.info-card {
  padding: 20px 30px 20px 30px;
  text-align: left; }
  .info-card h3 {
    color: #1c2c7c;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0; }
  .info-card h4 {
    color: #1c2c7c;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0; }
  .info-card h5 {
    color: #3859f9;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0; }
  .info-card p.company {
    color: #555555;
    font-size: 1rem;
    margin: 0; }
  .info-card p.resume {
    margin-top: 5px;
    color: #555555;
    font-size: 1rem; }

.project-bg-container {
  background-repeat: no-repeat; }
  @media all and (min-width: 1430px) {
    .project-bg-container {
      background-size: 1046px auto;
      background-position: bottom center;
      padding-top: 120px; } }
  @media all and (min-width: 1140px) and (max-width: 1429px) {
    .project-bg-container {
      background-size: 900px auto;
      background-position: bottom right;
      padding-top: 50px; } }
  @media all and (min-width: 1000px) and (max-width: 1139px) {
    .project-bg-container {
      background-size: 700px auto;
      background-position: bottom right;
      padding-top: 0; } }
  @media all and (min-width: 930px) and (max-width: 999px) {
    .project-bg-container {
      background-size: 580px auto;
      background-position: bottom right;
      padding-top: 0; } }
  @media all and (min-width: 801px) and (max-width: 929px) {
    .project-bg-container {
      background-size: 400px auto;
      background-position: bottom right;
      padding-top: 0; } }
  @media all and (max-width: 800px) and (min-width: 500px) {
    .project-bg-container {
      background-size: 900px auto;
      background-position: center bottom;
      padding-bottom: 400px; } }
  @media all and (max-width: 499px) {
    .project-bg-container {
      background-size: 700px auto;
      background-position: center bottom;
      padding-bottom: 300px; } }

.stage-images {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around; }
  @media all and (min-width: 800px) {
    .stage-images {
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }
  @media all and (min-width: 1612px) {
    .stage-images {
      justify-content: flex-start;
      margin-left: 100px; }
      .stage-images .cell-stage {
        margin: 0; } }
  @media all and (max-width: 1611px) {
    .stage-images {
      justify-content: center; } }
  @media all and (min-width: 1200px) {
    .stage-images .cell-stage img {
      width: 300px;
      height: auto;
      align-self: flex-start;
      margin: 5px; } }
  @media all and (min-width: 1080px) and (max-width: 1199px) {
    .stage-images .cell-stage img {
      width: 200px;
      height: auto;
      margin: 5px; } }
  @media all and (min-width: 680px) and (max-width: 1079px) {
    .stage-images .cell-stage img {
      width: 170px;
      height: auto;
      margin: 5px; } }
  @media all and (min-width: 600px) and (max-width: 679px) {
    .stage-images .cell-stage img {
      width: 170px;
      height: auto;
      margin: 5px; } }
  @media all and (max-width: 599px) {
    .stage-images .cell-stage img {
      width: 250px;
      height: auto;
      margin: 5px; } }

.skills-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  padding: 0; }
  @media all and (max-width: 650px) {
    .skills-container {
      flex-wrap: wrap; } }

.skills {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media all and (min-width: 700px) {
    .skills {
      padding: 50px; } }
  @media all and (max-width: 699px) {
    .skills {
      padding: 0; } }

.skill {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  padding: 15px; }
  .skill h3 {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-left: 3px;
    margin-top: 0;
    margin-bottom: 5px; }

.inner-youth {
  -webkit-box-shadow: inset 0px 1px 0.5px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: inset 0px 1px 0.5px 1px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0px 1px 0.5px 1px rgba(0, 0, 0, 0.13); }

.w3-green, .w3-green:hover {
  color: #fff !important;
  background-color: #1abc9c !important; }

.w3-myblue, .w3-myblue:hover {
  color: #fff !important;
  background-color: #3859f9 !important; }

.w3-coral, .w3-coral:hover {
  color: #fff !important;
  background-color: #e95d4f !important; }

.w3-orange, .w3-orange:hover {
  color: #fff !important;
  background-color: #f39c12 !important; }

.w3-blue, .w3-hover-blue:hover {
  color: #fff !important;
  background-color: #2196F3 !important; }

.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after,
.w3-round-large {
  border-radius: 8px !important; }

.w3-round-xlarge {
  border-radius: 16px !important; }

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important; }
