<footer>
  <div class="container-footer invert">
    <div class="row">
      <div class="left-footer">
        <h4 class="pica">Daniella Marooney</h4>
        <p class="long-primer">Daniellam1105@gmail.com</p>
        <a href="/contact/" class="footer-invert">Contact Me</a>
        <!-- <h4 class="pica" >Office Hours</h4>
        <p class="long-primer">Monday - Thursday 9:00am - 5:00pm EST </p> -->
      </div>
      <div class="right-footer">
        <a class="social" href="https://www.linkedin.com/in/daniella-marooney-0a19263a/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a class="social" href="https://www.facebook.com/daniella.marooney"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
