<header>
  <div class="nav-container">
    <!-- *ask cam how to add name or logo or something on left side* -->
    <nav class="main_nav">
      <div class="left-nav logo">
        <a href="/" class="home"><img src="/images/dmelephantt.png"</a>
      </div>
      <div class="right-nav">
        <ul class="topnav" id="myTopnav">
          <li class="icon">
            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
          </li>
          <li class="pica"><a href="/contact/" {% if page.url=="/contact/" %} class="active" {% endif %}>Contact</a></li>
          <li class="pica"><a href="/#projects" {% if page.url=="/#projects" %} class="active" {% endif %}>Projects</a></li>
          <li class="pica"><a href="/showcase/" {% if page.url=="/showcase/" %} class="active" {% endif %}>Portfolio</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
};
</script>
