<section id="projects">
  <div style="background-color: #{{ page.secbg_color }}; padding-top: 30px; padding-bottom: 30px;">
    <h2 class="lite-content" style="text-align: center; padding-top: 50px; padding-bottom: 20px;">Major Projects</h2>
    <div class="project-thumbnail_section">
      {% include project_thumbnails.html project_title="COPD Care Plan" project_image="/images/backgrounds/copd-macbook.jpg" project_description="I worked with a large team at ViiMed to build a care plan for COPD patients that involved a virtual journey and some gamification." project_link="/project1.html" %}
      {% include project_thumbnails.html project_title="ViiMed Website" project_image="/images/feature/viimed-web.jpg" project_description="The ViiMed Website went through a lot of iterations. I collaborated with the CEO and Marketing team each time it went under renovation." project_link="/project2.html" margin-top="4" %}
      {% include project_thumbnails.html project_title="Care Coordinator Dashboard" project_image="/images/feature/console.jpg" project_description="I worked directly with a cardiologist to come up with a Congestive Heart Failure program to build with ViiMed’s platform." project_link="/project3.html" margin-top="4"  %}
    </div>
  </div>
</section>
