<div class="mediumpadding_middle">
  <h2 class="generic" style="text-align: center;">Skills & Languages</h2>
  <div class="skills-container">
    <div class="skills">
      {% include skill.html progress="90" type="Spanish" color="green" type-color="1abc9c" %}
      {% include skill.html progress="75" type="HTML" color="blue" type-color="2196F3" %}
      {% include skill.html progress="65" type="CSS" color="blue" type-color="2196F3" %}
      {% include skill.html progress="30" type="JavaScript & jQuery" color="blue" type-color="2196F3" %}
      {% include skill.html progress="85" type="Adobe Illustrator" color="myblue" type-color="3859f9" %}
            {% include skill.html progress="85" type="Adobe Photoshop" color="myblue" type-color="3859f9" %}
    </div>
    <div class="skills">
      {% include skill.html progress="60" type="Adobe Experience Design" color="myblue" type-color="3859f9" %}
      {% include skill.html progress="50" type="Adobe InDesign" color="myblue" type-color="3859f9" %}
      {% include skill.html progress="85" type="OmniGraffle" color="coral" type-color="e95d4f" %}
      {% include skill.html progress="60" type="InVision" color="coral" type-color="e95d4f" %}
      {% include skill.html progress="85" type="PowerPoint" color="orange" type-color="f39c12" %}
      {% include skill.html progress="85" type="Keynote" color="orange" type-color="f39c12" %}
    </div>
  </div>
</div>
