
a.generic {
  display: inline-block;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 300;
  font-family: $primary-font;
  border-radius: 5px;
  text-decoration: none;
  // border: solid 1px $white;
  padding: 15px 20px 15px 20px;
  text-align: center;
  background-color: lighten($contentcolor-inbetween, 20%);
  color: $contentcolor-lite;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all 5s ease-out;
  -webkit-box-shadow: 0px 2px 0px 1px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 2px 0px 1px rgba(0,0,0,0.13);
  box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.13);
}
a.generic:hover {
  background-color:$primarycolor;
  color: $contentcolor-lite;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all 5s ease-out;
}
