.container-large {
  @media all and (min-width:$breakpoint-laptop-large) {
    padding: 30px 200px 100px 200px;
  }
  @media all and (max-width:$breakpoint-laptop-large) and (min-width:$breakpoint-laptop) {
    padding-right: 60px;
    padding-left: 60px;
  }
  @media all and (max-width:$breakpoint-laptop)  and (min-width:$breakpoint-tablet) {
    padding-right: 50px;
    padding-left: 50px;
  }
  @media all  and (max-width:$breakpoint-tablet) {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.container {
  @media all and (min-width:$breakpoint-laptop-large) {
    padding: 65px 200px 65px 200px;
  }
  @media all and (max-width:$breakpoint-laptop-large) and (min-width:$breakpoint-laptop) {
    padding: 60px;
  }
  @media all and (max-width:$breakpoint-laptop)  and (min-width:$breakpoint-tablet) {
    padding: 50px;
  }
  @media all  and (max-width:$breakpoint-tablet) {
    padding: 30px 10px 30px 10px;
  }
}

.project-gallery {
  // width: 100%;
  h2.trafalgar {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  // width: 100%;
  ul {
    align-items:stretch;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    li {
      padding-bottom: 70px;
      position: relative;
      @media all and (min-width: $breakpoint-tablet) {
        width:33.333333%;
        // max-height: 610px;
      }
      // @media all and (max-width: $breakpoint-laptop) and (min-width: $breakpoint-tablet) {
      //   width: 50%;
      // }
      @media all and (max-width: $breakpoint-tablet) and (min-width:  $breakpoint-mobile-large){
        width: 100%;
        height: 750px;
      }
      @media all and  (max-width:  $breakpoint-mobile-large){
        width: 100%;
        height: 500px;
      }
      img {
        width: 100%;
        // position: absolute;
        // z-index: 0;
      }
      .what {
        // position: absolute;
        // z-index: 100;
        padding: 10px 45px 10px 45px;
      }
      .tags {
        padding: 5px 45px 25px 45px;
        // z-index: 100;
        // position: absolute;
        // vertical-align: middle;
        .tag {
          margin: 5px;
          text-align: left;
          .icon {
            display: inline;
            // margin-bottom: -10px;
          }
          h5.minion {
            display: inline;
            // padding-bottom: 20px;
          }
        }
      }
      a {
        position: absolute;
        bottom: 30px;
        @media all and (min-width: $breakpoint-laptop-large) {
          left: 32%;
          width: 150px;
          padding: 10px 25px 10px 25px;
        }
        @media all and (max-width: $breakpoint-laptop-large) and (min-width: $breakpoint-laptop) {
          left: 25%;
          width: 150px;
          padding: 10px 25px 10px 25px;
        }
        @media all and (max-width: $breakpoint-laptop) and (min-width: $breakpoint-tablet) {
          left: 23%;
          width: 100px;
          padding: 10px 20px 10px 20px;
        }
        @media all and (max-width: $breakpoint-tablet) and (max-width: $breakpoint-mobile-large){
          width: 150px;
          padding: 10px 25px 10px 25px;
          left: 32%;
          bottom: 75px;
        }
        @media all and (max-width: $breakpoint-mobile-large){
          width: 150px;
          padding: 10px 25px 10px 25px;
          left: 25%;
          bottom: 75px;
        }
        text-align: center;
        border-radius: 5px;
        border: solid 1px #f5f5f5;
        -webkit-transition: all .5s ease-out;
          -moz-transition: all .5s ease-out;
          -ms-transition: all 5s ease-out;
          text-decoration: none;
      font-family:$body-font;
      // text-transform: uppercase;
      // letter-spacing: 1px;
      font-weight: 400;
      // color: $contentcolor-dark;
      color: $contentcolor-lite;
      background-color: $primarycolor;
      }
      a:hover {
        border: solid 1px #f5f5f5;
        background-color: $secondary-color;
      }
    }
    li:nth-child(1){
      background-color: #f5f5f5;
    }
    li:nth-child(2){
      background-color: $contentcolor-lite;
    }
    li:nth-child(3){
      background-color: $terciary-color;
      .what {
        color: $contentcolor-lite
      }
      .tags {
        color: $contentcolor-lite
      }
      a {
        color: $primarycolor;
        background-color: $terciary-color;
        border: solid 1px $terciary-color;
        background-color:$contentcolor-lite;
        }
      a:hover {
        border: solid 1px $terciary-color;
        background-color: $secondary-color;
        color: $contentcolor-lite;
      }
    }
  }
}
