---
layout: default
---
{% include main-header.html %}

<div class="about smallpadding project-thumbnail_section">
  {% include about.html fontawesome="graduation-cap" about_title="Education" aboutme_desc="In 2011, I graduated with a Bachelor of Arts from the University of Maryland, College Park, MD." %}
  {% include about.html fontawesome="paint-brush" about_title="Why UI and Product Design?" aboutme_desc="I've always been considered a creative person. I taught myself HTML when I was ten years old, and I love the idea of using design to solve problems." %}
  {% include about.html fontawesome="soccer-ball-o" about_title="Hobbies" aboutme_desc="Searching UI design blogs for inspiration, painting, traveling, and spending time with family and friends." %}
</div>

{% include project_section.html %}

<!-- resume -->
{% include resume.html %}
{% include skillset.html %}
